<div id="main" style="margin: 0 auto; padding: 0.1rem; font-size: 0.28rem; color: #5F646E; letter-spacing: 0; text-align: justify;">
    <div id="title" style="text-align: center; margin-top: 0.49rem">
        <p id="titleLabel" style="font-size: 0.4rem; color: #0F182A; letter-spacing: 0">浙江大学医学院附属邵逸夫医院</p>
        <p id="subTitleLabel" style="font-size: 0.5rem; color: #0F182A; letter-spacing: 0; margin-top: 0.34rem">住院病人须知</p>
    </div>
    <hr />
    <div id="content" style="margin-top: 0.25rem; font-size: 0.28rem; color: #5F646E; letter-spacing: 0; text-align: justify; font-weight: lighter">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;欢迎您来邵逸夫医院就诊，我们将为您提供一个整洁、安静、安全、舒适的环境，请您和您的亲友们一起与我们合作，共同做好以下工作：</span>
        <div>
            <p style="font-weight: bolder">一.住院注意事项</p>
            <p>1. 医院为您提供住宿的一般生活用品（被服、餐具、热水瓶等），洗漱用品请自行购买。</p>
            <p>2. 住院期间勿将重要文件、珠宝、现金等贵重物品带入病房，随身物品及手机请妥善保管或交家人朋友保管，若有遗失，医院不承担相关责任。</p>
            <p>3. 根据您的病情安排房间及床位，您的床头装有呼叫器，当您需帮助时，可按呼叫器请求帮助。</p>
            <p>4. 住院期间请穿上住院服，不要擅自离院和外出，如擅自离院和外出后而引发一切不良后果应自负。如病情允许，您可在医院内散步，但离开病区时应获得护士的许可。</p>
            <p>5. 您的饮食应由医生依病情而定，家属带来的食品需经医生/护士同意后方可食用。</p>
            <p>6. 医院不允许自行邀请外院医生诊治和用药，如需要，您可与主管医生商量。</p>
            <p>7. 护士站、医生办公室、治疗室等是医务人员的工作场所，未经许可不得进入，更不得翻阅和涂改病历等档案资料。</p>
            <p>8. 住院时必须交纳预交款，该款的使用情况，我们随时与您联系，费用不足时请您及时补交，以免影响您的治疗进程。</p>
        </div>
        <div>
            <p style="font-weight: bolder">二．享有的权利和履行的义务：</p>
            <p>1. 有权知晓主管您的医生、护士等工作人员。</p>
            <p>2. 在医治过程中，享有隐私权。</p>
            <p>3. 有权了解病情进展和医治方案，参与医疗过程以及拒绝或终止治疗。在您和家人担忧病情时，可以向护士求助，必要时护士会通知主管医生给予帮助。</p>
            <p>4. 如果您的诊断符合我院临床路径诊治病种，您的诊治流程将按照临床路径治疗规范进行。</p>
            <p>5. 您如有意见和建议，可向所在科室医护人员或医务科反映。</p>
            <p>6. 有义务配合医院做好学生教学工作。医务人员可以将废弃标本用于临床研究，即使研究结果会被发表，也不会泄露您的身份。</p>
        </div>
        <div>
            <p style="font-weight: bolder">三．探视陪客制度：</p>
            <p>1. 探视时间为14:00—20:00，每次探视人数不多于2人，探视期间请勿坐在床上及长期逗留病房，如医生、护士在查房及治疗时，请自觉到门外等候；7岁以下儿童谢绝进入病房探视。</p>
            <p>2. 是否需要陪客，由医生/护士根据您的病情决定，每位病人只允许1人陪伴。</p>
            <p>3. 探视者及陪客不得在病房内就餐、洗澡和洗衣服等。</p>
        </div>
        <div>
            <p style="font-weight: bolder">四．保持病房整洁与爱护医院公共设施</p>
            <p>1. 请勿在走廊上成群逗留，高声喧哗。</p>
            <p>2. 请勿随地吐痰，请将垃圾废物投入卫生间内的垃圾箱内。请勿在院内饮酒吸烟、使用电器等。</p>
            <p>3. 切勿随意动用病房公用设施，如有损害，酌情赔偿。</p>
            <p>4. 您的物品放入相应的柜子内，尿壶、便盆妥善放置。</p>
            <p>5. 为了您的安全，请勿强行开窗，有特殊情况请与护士长联系</p>
            <p>6. 请勿接受医院之外药品及治疗品的推销。</p>
            <p>7. 为保证您和他人的休息，请于21:00前熄灯就寝并关闭电视或收录机等。</p>
        </div>
        <div>
            <p style="font-weight: bolder">五．出院事宜：</p>
            <p>1. 您的出院时间由主管医生告之，如您需要复印病历，带身份证可到病案室复印。</p>
            <p>2. 离院前，请到出入院处结帐，并到病区药房/护理单元取出院带药。</p>
        </div>
        <div>
            <p style="font-weight: bolder">六．请不要向医院职工赠送钱物。</p>
        </div>
        <div>
            <p style="font-weight: bolder">以上住院须知已阅，愿意遵守，违者将作出院处理。谢谢合作！</p>
        </div>
        <div id="signatureButton">
            <div class="patient-sign" id="signature1" style="margin-top: 0.4rem">
                <span style="font-size: 0.28rem; color: #0f182A; letter-spacing: 0">患者签名：</span>
                <button class="signButton" id="signbutton1" name="patientSign" style="border-width: 0; width: 1.7rem;height: 0.6rem;background: #289069;border-radius: 1rem;font-size: 0.28rem;color: #FFFFFF;letter-spacing: 0;" class="sign-button">点击签名</button>
                <img src="" id="signbutton1_img" alt="签名" style="display: none; width: 100px; background: #F2F2F2;"/>
                <span id="signbutton1_date" style="text-align: right; display: none">
                    <span>日期：</span>
                    <span id="signbutton1_dateval" class="data" style="font-size: 0.26rem; color: #AAAFB9; letter-spacing: 0;">2018-06-06 09:30:30</span>
                </span>
            </div>
            <div class="patient-sign" id="signature2" style="margin-top: 0.4rem">
                <span style="font-size: 0.28rem; color: #0f182A; letter-spacing: 0">或负责单位/家属签名：</span>
                <button class="signButton" id="signbutton2" name="familySign" style="border-width: 0;width: 1.7rem;height: 0.6rem;background: #289069;border-radius: 1rem;font-size: 0.28rem;color: #FFFFFF;letter-spacing: 0;" class="sign-button">点击签名</button>
                <img src="" id="signbutton2_img" alt="签名" style="display: none; width: 100px; background: #F2F2F2;"/>
                <span id="signbutton2_date" style="text-align: right; display: none">
                    <span>日期：</span>
                    <span id="signbutton2_dateval" class="data" style="font-size: 0.26rem; color: #AAAFB9; letter-spacing: 0;">2018-06-06 09:30:30</span>
                </span>
            </div>
        </div>
        <div id="nurseSign" style="margin-top: 0.4rem">
            <span style="font-size: 0.28rem; color: #0f182A; letter-spacing: 0">护士签名：</span>
            <input id="QZ_ysorhs_text_1" type="text" style="color: rgb(180, 3, 5); width: 1.1rem; font-size: 0.26rem; letter-spacing: 0; font-weight: bolder;" readonly="true" value="平海燕" />
            <span>签字时间：</span>
            <input id="qztime_1" type="text" style="width: 1.1rem; font-size: 0.26rem; color: #AAAFB9; letter-spacing: 0;" readonly="true" value="" />
            <!-- <span id="qztime_1" class="data" style="font-size: 0.26rem; color: #AAAFB9; letter-spacing: 0;">2018-06-06 09:30:30</span> -->
        </div>
    </div>
    <div id="waitSign" style="margin-top: 0.8rem; background: #F2F2F2; line-height: 1.2rem; border-radius: 0.04rem; height: 1.2rem; text-align: center; font-size: 0.28rem; color: #5F646E; letter-spacing: 0; font-weight: lighter;">
        <span>医生/护士已签名，您的签名等待录入</span>
    </div>
	 <div id="consentFooter">
        <hr />
        <div style="float: left; font-size: 0.2rem; text-align: center;">
            <p style="font-weight: bolder">
                浙江大学医学院附属邵逸夫医院下沙院区
            </p>
            <p>住院病人须知</p>
            <p>ATG 02</p>
        </div>
        <div style="float: right; font-size: 0.2rem;">
            <p>
                <span>病历号：</span>
                <input id="blh" type="text" style="width: 1.1rem; color: rgb(180, 3, 5); letter-spacing: 0;" readonly="true" value="4565154" />
                <!-- <span id="medicalId" style="color: rgb(180, 3, 5)">4565154</span> -->
            </p>
            <p>
                <span>患者姓名：</span>
                <input id="brxm" type="text" style="width: 1.1rem; color: rgb(180, 3, 5); letter-spacing: 0;" readonly="true" value="黄元菊" />
                <!-- <span id="medicalName" style="color: rgb(180, 3, 5)">黄元菊</span> -->
            </p>
            <p>
                <span>床位号：</span>
                <input id="brbed" type="text" style="width: 1.1rem; color: rgb(180, 3, 5); letter-spacing: 0;" readonly="true" value="ECT006" />
                <!-- <span id="medicalBedId" style="color: rgb(180, 3, 5)">ECT006</span> -->
            </p>
        </div>
    </div>
</div>;